<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
    </tr>
    <div th:if="${category}">
        <tr th:each="cheese : ${cheeses}" th:if="${category}==${cheese.category.id}">
            <td th:text="${cheese.name}"></td>
            <td th:text="${cheese.description}"></td>
            <td th:text="${cheese.category.name}"></td>
        </tr></div>
    <div th:unless="${category}">
    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.name}"></td>
        <td th:text="${cheese.description}"></td>
        <td th:text="${cheese.category.name}"></td>
    </tr></div>

</table>

<p><strong><a href="/cheese/add">Add a New Cheese</a></strong></p>
<p><strong><a href="/cheese/remove">Remove a New Cheese</a></strong></p>
</body>
</html>